%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:apples, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:apples, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:apples, :edit, :id => @apple.id)

.tabs-content
  -form_for :apple, url(:apples, :update, :id => @apple.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'apples/form', :locals => { :f => f }
