.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:apples, :index)
      %li=link_to pat(:new), url(:apples, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:apples)
    .inner
      %table.table
        %tr
          %th.first=mat(:apple, :id)
          %th=mat(:apple, :name)
          %th=mat(:apple, :tweet_id)
          %th=mat(:apple, :created_at)
          %th=mat(:apple, :tweet)
          %th=mat(:apple, :updated_at)
          %th=mat(:apple, :tweeted_at)
          %th.last="&nbsp;"
        -@apples.each do |apple|
          %tr
            %td.first=apple.id
            %td=apple.name
            %td=apple.tweet_id
            %td=apple.created_at
            %td=apple.tweet
            %td=apple.updated_at
            %td=apple.tweeted_at
            %td.last
              =button_to pat(:edit), url(:apples, :edit, :id => apple.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:apples, :destroy, :id => apple.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
