%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:apples, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:apples, :new)

.tabs-content
  -form_for :apple, url(:apples, :create), :class => 'form-horizontal' do |f|
    =partial 'apples/form', :locals => { :f => f }
