%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:tweets, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:tweets, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:tweets, :edit, :id => @tweet.id)

.tabs-content
  -form_for :tweet, url(:tweets, :update, :id => @tweet.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'tweets/form', :locals => { :f => f }
